.btn {
  border: none;
  cursor: pointer;
  position: relative;

  &-primary,
  &-secondary,
  &-tertiary,
  &-copy {
    position: relative;
    color: white;
    background-color: $color-primary-cyan;
    border-radius: 50rem;
    transition: background 0.3s;

    &:hover {
      background-color: $color-secondary-cyan;
      color: white;
    }
  }

  &-primary {
    margin-top: 1rem;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2rem 5rem;

    @include media-md {
      font-size: 2.2rem;
    }
  }

  &-secondary {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 2rem 4.5rem;
    border-radius: 1rem;
    @include media-lg {
      font-size: 2.2rem;
    }
    // @include media-md {
    //   font-size: 2.2rem;
    // }
  }
  &-tertiary {
    padding: 1.5rem 3rem;
    @include media-md {
      display: inline-block;
      width: 100%;
    }
  }
  &-copy {
    min-width: 13rem;
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.7rem;
  }
  &-copied {
    padding: 1rem 3rem;
    border-radius: 0.7rem;
    background-color: $color-primary-violet;
    color: white;
  }
  &-form {
    margin-top: 2rem;
    width: 100%;
  }
  &-user {
    padding: 2rem;
    border-radius: 100%;
  }
}
