.shorten-form {
  display: flex;
  padding: 7rem 8rem;
  border-radius: 1rem;
  background-color: $color-primary-violet;
  background-image: url("/img/bg-shorten-desktop.svg");
  background-size: cover;
  background-position: center;

  &__input {
    font-family: inherit;
    color: $color-tertiary-blue;
    font-size: 2.4rem;
    padding: 2.5rem 3.5rem;
    flex: 1;
    border: none;
    border-radius: 1rem;
    @include media-lg {
      font-size: 2.2rem;
    }
  }

  &__btn {
    margin-left: 3rem;
  }

  @include media-lg {
    padding: 7rem 4rem;
  }

  @include media-md {
    background-image: url("/img/bg-shorten-mobile.svg");
    flex-direction: column;
    padding: 4rem;
    background-size: cover;
    background-position: center;

    &__input {
      font-size: 2rem;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
    }

    &__btn {
      margin-left: 0;
    }
  }
}

.form {
  &-container {
    min-height: 100vh;
    padding: 3rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary-violet;
    background-image: url("/img/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;

    @include media-md {
      background-image: url("/img/bg-boost-mobile.svg");
      height: 100vmax;
      padding: 2rem;
    }
  }
  &-wrapper {
    margin-top: 5rem;
    width: 55rem;
    background-color: $color-secondary-gray;
    border-radius: 1rem;
    padding: 5rem;
    @include media-md {
      width: 50rem;
      padding: 4rem 4rem;
    }
    @include media-sm {
      width: 40rem;
      padding: 2rem 1rem;
    }
  }
  &--main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-header {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 3rem;
    padding-bottom: 5.5rem;
  }
  &-registered {
    color: $color-primary-cyan;
    line-height: 1.2;
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 5.5rem;
  }
  &-error {
    color: $color-secondary-red;
    width: 100%;
    line-height: 1.2;
    text-align: center;
    display: block;
    font-size: 2.2rem;
    padding: 2rem 0;
  }
  &-input {
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-family: inherit;
    color: $color-tertiary-blue;
    font-size: 2rem;
    padding: 2.5rem 3.5rem 2.5rem 5.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: border 0.2s;

    &::placeholder {
      color: $color-tertiary-violet;
    }

    &:focus {
      outline: none;
      border: 1px solid $color-primary-cyan;
    }

    &:focus + .form-icon {
      color: $color-primary-cyan;
      padding-left: 1.5rem;
    }

    &__wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 1.6rem;
    }
  }
  &-label {
    display: none;
  }
  &-icon {
    color: $color-tertiary-violet;
    font-size: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 2rem;
    transition: all 0.3s;
  }
}

.member {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  font-size: 1.6rem;

  &-question {
    margin-right: 1rem;
  }
  &-link {
    color: $color-primary-cyan;
    text-decoration: underline;
    transition: all 0.2s;

    &:hover {
      letter-spacing: 1px;
    }
  }
}
