.links-list {
}

.link {
  width: 100%;
  font-size: 2.4rem;
  padding: 3rem;
  margin-top: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 1rem;

  &--long {
    flex: 3;

    height: 3.3rem;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--short {
    flex: 2;
    width: 25%;
    margin-right: 2rem;
    color: $color-primary-cyan;
  }
}
