@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import "./style/variables.scss";
@import "./style/responsive.scss";
@import "./style/main.scss";
@import "./style/animation.scss";
@import "./style/navigation.scss";
@import "./style/heading.scss";
@import "./style/buttons.scss";
@import "./style/form.scss";
@import "./style/cards.scss";
@import "./style/banner.scss";
@import "./style/footer.scss";
@import "./style/links.scss";
@import "./style/burger.scss";
@import "./style/user.scss";
@import "./style/404.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: $color-tertiary-blue;

  @include media-xl {
    font-size: 9px;
  }
  @include media-md {
    font-size: 8px;
  }
}

body {
  font-size: 1.8rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
